/* all element styling */

/* header styling across multiple pages */
h1 {
    font-size: 4rem;
    font-family: 'Lobster', cursive;
    background-color: rgb(193, 241, 193);
    border-style: solid;
    border-width: 1rem;
    border-color: rgb(193, 241, 193);
    border-radius: 1rem;
    margin: .5rem;
}

h2 {
    font-size: 2rem;
    font-family: 'EB Garamond', serif;
    margin: 1rem;
}
h3 {
    font-size: 1.5rem;
    font-family: 'EB Garamond', serif;
    margin: 0;
}

/* restaurant page days/hours styling */
blockquote,
p{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'EB Garamond', serif
}

/* all class styling */

/* nav button styling */
.btn{
    font-family: 'EB Garamond', serif;
    display: flex;
    padding: .5rem;
    margin: .5rem;
    text-decoration: none;
    background-color: rgb(193, 241, 193);
}

.btn a, a:visited{
    color: black;
}


/* all id styling */

/* navigation wrapper div styling */
#nav-wrap {
    display: flex;
    justify-content: center;
    margin: auto;


}

/* home page text and restaurant page text wrapper styling */
#text-wrap,
#resta-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* make queen city in red on home */
#qc {
    display: inline;
    color: rgb(124, 2, 2);
}
